.header__lang-link {
    margin-right: 18px;
    text-decoration: none;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    transition: ease-in-out 0.3s;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link:last-child {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}