.cover__link {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2A2C2F;
    min-height: 740px;
    width: calc(100% - 7.5%);
    opacity: 0.3;
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.cover__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        min-height: 640px;
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        min-height: 200px;
    }
}
