.footer__link {
    margin-right: 18px;
    text-decoration: none;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    transition: ease-in-out 0.3s;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__link:last-child {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
        /* identical to box height, or 112% */
        transition: ease-in-out 0.3s;
    }
    .footer__link:last-child {
        margin-bottom: 48px;
    }
}