.intro__text {
    margin: 40px auto 33px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
}

@media screen and (max-width: 767px) {
    .intro__text {
        margin: 40px 0 33px;
    }
}