.cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../sprint-3-images/cover-trains.jpg);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    min-height: 740px;
    width: calc(100% - 7.5%);
    text-decoration: none;
    color: white;
}

.cover::before {
    background: #2A2C2F;
    opacity: 0.3;
    transition: ease-in-out 0.3s;
}

@media screen and (max-width: 1279px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        min-height: 200px;
    }
}