.place__link {
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    transition: ease-in-out 0.3s;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .place__link {
        font-size: 18px;
        line-height: 22px;
    }
}