@import url(../vendor/normalize.css);

@import url(../vendor/fonts\inter/inter.css);

@import url(../blocks/page/page.css);

.page {
    background-color: #2A2C2F;
    color: white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 48px;
}

.header__lang {
    margin-top: 46px;
}

.header__lang-link {
    margin-right: 18px;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    transition: ease-in-out 0.3s;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link:last-child {
    margin-right: 0;
    text-decoration: none;
}

.header__logo {
    margin-top: 28px;
}

.lead {
    padding-top: 56px;
}

.lead__image {
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 296px);
}

.lead__title {
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

.lead__subtitle {
    margin: 32px auto 64px;
    max-width: 640px;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.lead__caption {
    margin: 8px auto 0 148px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.intro {
    padding-top: 92px;
    margin-left: 148px;
    max-width: 690px;
}

.intro__title {
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    /* identical to box height, or 107% */
}

.intro__text {
    margin: 40px auto 33px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
}

.intro__list {
    margin: 0 auto;

}

.intro__specs {
    list-style: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
}

.photo-grid {
    padding: 92px 0;
    margin: 0 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    gap: 16px;
}

.photo-grid__image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place {
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "title website"
        "image paragraphs";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    row-gap: 48px;
    column-gap: 40px;
}

.place:last-child {
    margin-bottom: 0;
}

.place__title {
    margin: 0;
    max-width: 460px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    grid-area: title;
}

.place__website {
    grid-area: website;
    align-self: end;
}

.place__url-heading {
    margin: 0 auto 12px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    /* identical to box height, or 100% */

    letter-spacing: 2px;

    color: #AAAAAA;
}

.place__link {
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    text-decoration-line: underline;
    transition: ease-in-out 0.3s;
}

.place__link:hover {
    opacity: 0.8;
}

.place__image {
    max-width: 460px;
    grid-area: image;
}

.place__paragraphs {
    max-width: 484px;
    grid-area: paragraphs;
}

.place__paragraph {
    margin: 0 auto 26px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

.cover {
    margin: 0 48px;
    min-height: 65vw;
    background-size: 100%;
    background-repeat: no-repeat;
}

.cover__link::before {
    position: absolute;
    z-index: -1;
    background: #2A2C2F;
    opacity: 0.3;
}

.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-size: cover;
    min-height: 740px;
    flex-direction: column;
    background-image: url(../sprint-3-images/cover-trains.jpg);
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.cover__link:hover {
    opacity: 0.8;
}


.cover__title {
    margin: 0 auto;
    max-width: 560px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
}

.cover__subtitle {
    margin: 32px auto 0;
    max-width: 360px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
}

.footer {
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 48px;
}

.footer__link {
    margin-right: 18px;
    text-decoration: none;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    transition: ease-in-out 0.3s;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__copyright {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
}

@media screen and (max-width: 1279px) {
    .lead {
        padding-top: 48px;
    }
    .lead__image {
        max-width: calc(100% - 96px);
    }
    .lead__subtitle {
        margin: 32px auto 56px;
    }
    .lead__caption {
        margin: 8px auto 0 48px;
    }
    .intro {
        margin-left: 48px;
    }
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
    .place {
        column-gap: 32px;
    }
    .place__title {
        max-width: 440px;
    }
    .place__paragraphs {
        max-width: 456px;
    }
    .place__image {
        max-width: 440px;
    }


}

@media screen and (max-width: 1023px) {
    .lead__image {
        max-width: 100%;
    }
    .lead__caption {
        margin: 8px auto 0 24px;
    }
    .intro {
        margin-left: 24px;
        padding-top: 88px;
        max-width: 720px;
    }
    .photo-grid {
        margin: 0 24px;
        padding: 88px 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
    }
    .place {
        margin: 0 auto 73px;
        column-gap: 28px;
    }
    .places {
        padding-bottom: 88px;
    }
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
    .place__url-heading {
        line-height: 12px;
    }
    .place__paragraphs {
        max-width: 352px;
    }
    .place__paragraph {
        font-size: 16px;
    }
    .place__image {
        max-width: 340px;
    }


}

@media screen and (max-width: 767px) {
    .header {
        margin: 0 16px;
    }
    .header__lang {
        margin-top: 30px;
    }
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
    .header__logo {
        margin-top: 16px;
        max-width: 142px;
    }
    .lead {
        padding-top: 48px;
    }
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
    .lead__subtitle {
        margin: 16px auto 40px;
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
    .lead__image {
        margin: 0 auto;
        max-width: 100%;
    }
    .lead__caption {
        margin: 8px auto 0 16px;
    }
    .intro {
        margin-left: 16px;
        padding-top: 64px;
        max-width: 288px;
    }
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
    .intro__text {
        margin: 40px 0 33px;
    }
    .photo-grid {
        padding: 64px 0;
        margin: 0 16px;
        grid-template-columns: 1fr;
        gap: 12px;
    }
    .place {
        max-width: 320px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
    .place__url-heading {
        margin: 32 auto 12px;
        max-width: 288px;
        font-size: 12px;
        line-height: 12px;
    }
    .place__link {
        font-size: 18px;
        line-height: 22px;
    }
    .place__image {
        max-width: 320px;
    }
    .place__paragraphs {
        max-width: 288px;
    }
    .place__paragraph {
        margin: 32px auto 25px;
        font-size: 16px;
        line-height: 163%;
    }
}
